* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.card_div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 90%;
  /* padding: 20px; */
  padding-bottom: 30px;
  margin: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  /* border: 2px solid red; */
  transition: all 0.2s ease-in-out;
}

.card_div:hover {
  transform: scale(1.03);
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.div_image {
  width: 100%;
  height: 270px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.card_div > p,
.card_div > .rating {
  width: 230px;
  text-align: center;
}

.price,
.category,
.rating,
.description {
  width: 100%;
  text-align: center;
  margin: 0;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_div > .rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

#prev,
#next {
  width: 150px;
  background-color: #fff;
  border: 2px solid;
  z-index: 1;
}

button {
  height: 40px;
  border-radius: 10px;
  width: max-content;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  font-size: large;
  font-weight: 900;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  position: relative;
}

button::before,
#prev::before,
#next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #212121;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

button:hover,
#prev:hover,
#next:hover {
  color: #fff;
}

button:hover::before,
#prev:hover::before,
#next:hover::before {
  width: 100%;
}

/* ====== Form/Auth Page ====== */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 30%;
  margin: auto;
  gap: 10px;
  padding: 15px 0;
  background-color: whitesmoke;
  border-radius: 20px;
}

.form > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.email {
  margin-top: 25px;
}

.pass {
  margin-top: 11px;
}

input {
  padding: 7px 11px;
  font-size: 12px;
  border-radius: 7px;
  border: 0.5px solid gray;
  text-transform: capitalize;
  width: 100%;
}

label {
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.submit {
  padding: 7px;
  font-weight: 900;
  font-size: 17px;
  margin-top: 25px;
  background-color: gold;
  border: none;
  color: black;
  cursor: pointer;
  width: 25%;
}

/* ====== Cart Page ====== */

#cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h2 {
  text-align: center;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
  /* border: 2px solid red; */
  box-shadow: 4px 4px 10px 2px black;
}

.count {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.buttonDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

/* ====== Cart Page ===== */

.placeholder,
.div_image.placeholder {
  background-color: #b3b3b3;
  background-image: linear-gradient(to right, #999, #ccc);
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 0 10px;
}

@keyframes loading {
  to {
    background-position: -170% 0;
  }
}

.placeholder * {
  visibility: hidden;
}

/* Side Bar */

.slide {
  border-radius: 15px;
  position: absolute;
  top: 140px;
  height: 100vh;
  width: 20%;
  text-align: left;
  /* border: 2px solid red; */
  padding: 10px 20px;
  background-color: whitesmoke;
  left: -100%;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.slide.active {
  left: 10px;
}

.slide > ul {
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.slide > h3 {
  margin-top: 10px;
  font-size: 30px;
}

.slide > ul > li {
  margin: 15px 0;
  font-size: larger;
}

#activeFilter {
  display: flex;
  align-items: center;
  gap: 5px;
  /* width: fit-content; */
  margin: 10px;
  font-weight: bold;
  padding: 5px 0;
}

span {
  margin-left: -9.5px;
  padding: 5px 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#activeFilter > button,
span {
  font-size: larger;
  background-color: #ccc;
}

#activeFilter > button {
  margin-left: -8.5px;
  height: 31px;
  font-weight: 700;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: 0;
  padding: 0;
}

#activeFilter > button > img {
  height: inherit;
  object-fit: contain;
}

.numOfPage {
  font-weight: 800;
  font-size: larger;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
