* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.card_div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  padding-bottom: 30px;
  margin: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  /* border: 2px solid red; */
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.div_image {
  width: inherit;
  height: 230px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.title {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.card_div > p,
.card_div > .rating {
  width: 230px;
  text-align: center;
}

.price,
.category,
.rating,
.description {
  width: 100%;
  text-align: center;
  margin: 0;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_div > .rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

button {
  height: 40px;
  border-radius: 10px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  font-size: large;
  font-weight: 900;
  background-color: transparent;
}

nav {
  border: 2px solid;
  border-radius: 15px;
}

ul > img {
  max-width: 70px;
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
  margin: 5px 0;
  border: none;
}

ul > input {
  width: 270px;
  border: 2px solid;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
  font-size: larger;
  cursor: pointer;
}

option,
select {
  font-size: large;
  font-weight: 700;
  width: 100px;
  height: 30px;
}

select {
  padding: 0 3px;
  padding-top: 2px;
  border-radius: 10px;
  border: 2px solid;
}

/* ====== Form/Auth Page ====== */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 30%;
  margin: auto;
  gap: 10px;
  padding: 15px 0;
  background-color: whitesmoke;
  border-radius: 20px;
}

.form > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.email {
  margin-top: 25px;
}

.pass {
  margin-top: 11px;
}

input {
  padding: 7px;
  font-size: 17px;
  border-radius: 7px;
  border: 0.5px solid gray;
  text-transform: capitalize;
  width: 100%;
}

label {
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.submit {
  padding: 7px;
  font-weight: 900;
  font-size: 17px;
  margin-top: 25px;
  background-color: gold;
  border: none;
  color: black;
  cursor: pointer;
  width: 25%;
}

/* ====== Cart Page ====== */

#cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
  /* border: 2px solid red; */
  box-shadow: 4px 4px 10px 2px black;
}

/* ====== Cart Page ===== */

.cartLength-active {
  text-align: center;
  font-size: x-small;
  font-weight: 900;
  padding: 1.5px;
  position: absolute;
  top: 72px;
  border-radius: 50%;
  background: tomato;
  color: whitesmoke;
  height: 18px;
  width: 18px;
  left: 81.9%;
  cursor: pointer;
}

.placeholder {
  background-color: #b3b3b3;
  color: #fff;
  background-image: linear-gradient(to right, #999, #ccc);
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    background-position: -170% 0;
  }
}
